/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@600;700&display=swap");

/* Reset Default Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Common Style/Utilities */

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.flexible-container {
  padding: 0 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.a-color {
  color: #e02c6d;
}

.btn {
  outline: 0;
  border: 0;
  padding: 10px 35px;
  background-color: #e02c6d;
  font-weight: 600;
  color: #fff;
  font-size: 12px;
  border-radius: 50px;
  cursor: pointer;
  top: 0;
  font-size: 15px;
}

.btn:hover {
  background-color: #fff;
  border: 2px solid #e02c6d;
  color: #000;
}

/* Navigation Bar Style  */

nav {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

nav ul li a:hover {
  color: #e02c6d;
}

label.logo {
  font-size: 24px;
  font-weight: 700;
}

label.logo a {
  text-decoration: none;
  color: #3a3a3a;
}

.navbar-items {
  display: flex;
}

.navbar-items li {
  list-style: none;
  margin: 10px;
}

.navbar-items li a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
  padding: 15px 10px;
  font-size: 16px;
}

/* hr tag style */

.horizontal {
  background-color: gray;
  margin-top: 10px;
}

.checkbtn {
  font-size: 25px;
  color: #000;
  float: left;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Header Banner Section Style  */

.banner {
  min-height: 300px;
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin: 30px;
}

.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner-left h1 {
  font-size: 45px;
}

.banner-left h2 {
  font-weight: 700;
  font-size: 27px;
}

.banner-left p {
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0;
}

.banner-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner-right img {
  width: 80%;
  transition: 0.5s all ease-in-out;
}

.banner-right:hover img {
  transform: scale(1.05);
}

/* Ecommmerce Logo Section  */

.ecommerce-logo {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 20px;
}

/* Popular Collection Style  */

.section-title {
  font-size: 24px;
  text-align: center;
  margin: 50px;
  color: #3a3a3a;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.item {
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  line-height: 2;
  border-radius: 5px;
  padding: 10px;
}

.item img {
  width: 100%;
}

.item h2 {
  font-size: 28px;
  font-family: Poppins;
  font-weight: 500;
  color: #18191f;
}

.item p {
  margin-top: 10px;
  color: #787885;
}

span {
  margin-left: 5px;
}

.star {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.fa-star {
  font-size: 12px;
}

.fa-star.filled {
  color: #ffc014;
}

.fa-star.empty {
  color: #aeaeae;
  opacity: 0.5;
}

.item-price {
  font-family: "Inter";
  font-size: 24px;
}

/* See More button style  */

.see-more {
  text-align: right;
  margin: 20px;
}

.see-more:hover b {
  color: #000;
}

.see-more a {
  text-decoration: none;
}

/* Contact Page Style  */

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 20px;
}

.contact-left img {
  width: 100%;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-field {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  font-family: inherit;
  outline: 0;
  border-radius: 5px;
  border: 1px solid gray;
}

.text-field:hover {
  border: 1px solid #e02c6d;
}

/* Footer Style */

footer {
  height: 200px;
  background-color: #0a0826;
  color: white;
}

footer h3 {
  margin-top: 20px;
  font-size: 24px;
  font-family: "Poppins";
}
footer p {
  font-size: 14px;
  color: #d9dbe1;
  font-family: "Poppins";
  font-weight: bold;
  line-height: 24px;
}
.footer-items {
  text-align: center;
  padding: 20px;
  line-height: 2;
}
.fab {
  color: white;
  margin-right: 16px;
}

@media only screen and (max-width: 600px) {
  .banner-right {
    order: 2;
  }
  .banner-right img {
    align-items: center;
  }
  .navbar-items {
    display: block;
    text-align: center;
  }
  label.logo {
    font-size: 30px;
    padding-left: 50px;
    margin-right: 80px;
  }
  nav ul li a {
    font-size: 16px;
  }

  .checkbtn {
    display: block;
  }

  nav ul {
    position: absolute;
    width: 100%;
    background: #ffffff;
    top: 80px;
    left: -100%;
    transition: all 0.5s;
    padding: 20px;
    overflow: hidden;
  }
  nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .banner {
    flex-direction: column-reverse;
    grid-template-columns: repeat(1, 1fr);
    margin: 30px 0;
  }
  .banner-left h1 {
    font-size: 28px;
  }
  .items {
    grid-template-columns: repeat(1, 1fr);
  }

  .banner-left,
  .btn {
    text-align: center;
    margin: 0 auto;
  }
  .btn {
    padding: 15px 40px;
  }

  hr {
    display: none;
  }

  .ecommerce-logo {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .contact {
    display: block;
    grid-template-columns: 1fr;
  }

  .section-title h2 {
    font-size: 18px;
  }

  .banner-left p {
    font-size: 14px;
  }

  label.logo {
    font-size: 18px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .navbar-items {
    display: flex;
  }
  .checkbtn {
    display: block;
  }
  label.logo {
    font-size: 30px;
    padding-left: 50px;
    margin-right: 80px;
  }
  nav ul {
    position: absolute;
    width: 100%;
    background: #ffffff;
    top: 80px;
    left: -100%;
    transition: all 0.5s;
    padding: 20px;
    /* overflow: hidden; */
  }
  #check:checked ~ ul {
    left: 0;
  }
  .banner {
    grid-template-columns: repeat(2, 1fr);
  }
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
  .ecommerce-logo {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}